* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #2C2C2C;
    height: 100px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    
}


#logo {
    display: flex;
    width: 250px;
    height: 250px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #2C2C2C;
    width: 70%;
    height: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    gap: 20px;
}

nav li {
    border-bottom: 3px solid #4E5FFF;
    list-style-type: none;
    text-align: center;
    position: relative;
}

nav li a {
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    font-size: 1.30rem;
    align-items: center;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    text-align: center;
    width: max-content; 
    margin-top: 10px;  
    background-color: #2C2C2C;
}

.dropdown-content li {
    margin-top: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li a {
    display: block;
    color: white;
    text-decoration: none;
}

.dropdown-content li a:hover {
    background-color: #4E5FFF;
}


.area_esquerda{
    display: flex; 
    height: 99%;
    width: 55%;
    flex-direction: column;
    border-bottom-right-radius: 30px;
    background-color: #2C2C2C;
    justify-content: center;
    text-align: justify;
}

.txtAreaEsquerda {
    margin-top: -5%;
}

h1 {
    color: #FFFF;
    font-size: 3rem;
    padding-left: 30px;
}

p {
    color: #DBDBDB;
    font-size: 1.25rem;
    padding-left: 30px;
    padding-right: 30px;
}

#areaBtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 10vh;
    padding-left: 4%;
    margin-top: 2%;
}

button {
    background-color: #4E5FFF;
    color: #FFFF;
    padding: 1%;
    width: 30%;
    text-align: center;
    font-size: 18px;
    border-radius: 10%;
}

.card_branco{
    display: flex;
    justify-content: flex-end;
    border-top-left-radius: 60px;
    height: 100%;
    width: 100%;
    background-color: white;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

figcaption {
    text-align: center;
    font-size: 17px;
    color: #4E5FFF;
    font-weight: bold;
    font-style: italic;    
}

.area_direita{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    height: 85%;
    width: 45%;
    background-color:#2C2C2C;
}

#imagemPrincipal {
    width: 55vw;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: #2C2C2C;
}

footer > p{
    text-align: center;
    font-size: 1.2rem;
    flex-grow: 1;
}

.circuloBranco {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: -35px;
    margin-top: -35px;
    background-color: white;
}

.area_inferior {
    display: flex;
    flex-direction: column;
}
