* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #2C2C2C;
    height: 120px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */
    height: 100vh;
}

main{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100%-150px);
    flex: 1;
    
}


#logo {
    display: flex;
    width: 250px;
    height: 250px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #2C2C2C;
    width: 70%;
    height: 100%;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav li {
    border-bottom: 3px solid blue;
    list-style-type: none;
    /* text-align: center; */
}

nav li a {
    /* display: block; */
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 15px;
    margin-right: 10px;
    align-items: center;
}

.dropdown-content {
    display: none;
    /* display: none;
    width: max-content; 
    margin-top: -15px;    */
}

.dropdown-content li {
    /* margin-right: 10px;
    border-width: thin;
    border-bottom: 3px solid #2C2C2C;
    margin-left: 10px; */
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    bottom: 100%;
    /* display: inline-block; 
    position: absolute; 
    top: 0;
    left: 100%;
    transform: translateX(0px);  */
}

.area_esquerda{
    display: flex; 
    height: 99%;
    width: 55%;
    flex-direction: column;
    border-bottom-right-radius: 30px;
    background-color: #2C2C2C;
}

.area_direita{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    height: 80%;
    width: 45%;
    background-color:#2C2C2C;
}

.card_branco{
    display: flex;
    justify-content: flex-end;
    border-top-left-radius: 60px;
    height: 90%;
    width: 100%;
    background-color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 100%;
    color: white;
    font-weight: bold;
    background-color: #2C2C2C;
}

.circuloBranco {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: -35px;
    margin-top: -35px;
    background-color: white;
}

.area_inferior {
    display: flex;
    flex-direction: column;
}
